.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 630px) {
        flex-direction: column;
    }
}

.map-section {
    height: 80vh;
    margin: 20px auto;

    @media screen and (max-width: 630px) {
        height: unset;
    }
}

.cities-section {
    height: 80vh;
    margin: 20px auto;
}