.pinner {
    color: white;
    background: orange;
    padding: 6px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}