.list-group-item {
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: #D3D3D3;
    }
}

.list-group-item.active {
    background-color: royalblue;

    &:hover {
        background-color: royalblue;
    }
}